{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}
    <div class="main">

    <!-- Sign up form -->
    <section class="signup">
    <div class="container">
    <div class="signup-content">
        <div class="signup-form">
            <h2 class="text-6xl pt-12 pb-8">
                Sign Up
            </h2>

            {{ form_start(registrationForm) }}

            {{ form_row(registrationForm.email) }}
            {{ form_row(registrationForm.plainPassword) }}

            {{ form_row(registrationForm.agreeTerms) }}

            <button
                    class="uppercase mt-15 bg-blue-500 text-gray-100 text-lg w-1/5 mt-10 font-extrabold py-4 px-8 rounded-3xl"
                    type="submit">
                register
            </button>
            {{ form_end(registrationForm) }}

        </div>
    </div>
    </div>
    </section>
    </div>

{% endblock %}