{% extends('base.html.twig') %}
{% block title %} Munich Car Company - Home {% endblock %}

{% block body %}

{#    <h1 class="bg-blue-500 text-2xl text-center font-bold">Welcome To Munich Car Company </h1>#}
{#    <img src="{{ asset('build/images/bmw.a2469695.jpg') }}" alt="">#}

    {# Looping through the array - from database #}
    {% for car in cars %}
        <div class="text-center pt-8 pb-4">
            <img
                    src="{{ car.imagePath }}"
                    alt=""
                    class="shadow-xl rounded-md">
            <h2 class="text-gray-700 font-bold text-3xl py-2">
                {{ car.model }}
            </h2>
            <span class="text-gray-500">
                By <span class="italic text-sm text-gray-800">{{ car.seller }} </span>
            </span>
            <p class="text-base text-gray-700 pt-4 pb-10 leading-8 font-light">
                {{ car.description }}
            </p>
        </div>
    {% endfor %}
{% endblock %}
